In [0]:
spark.sql("USE CATALOG dataops_dev")
spark.sql("USE schema_test")

DataFrame[]

In [0]:
df = (
    spark.read
    .table("bronze_sales_spark")
)
display(df)

Id,name,age,money,sales,units
1,Alice,25,1200,4500,45
2,Bob,32,850,3000,30
3,Charlie,29,1500,6000,60
7,George,30,1100,2200,22
8,Hannah,28,1600,4000,40
9,Ian,36,2000,6500,65
4,Diana,41,2100,7500,75
5,Ethan,27,950,2500,25
6,Fiona,34,1800,5000,50

In [0]:
df = (
    spark.read
    .table("silver_sales_spark")
)
display(df)

Id,name,age,money,sales,units
1,Alice,25,1200.0,4500,45
2,Bob,32,850.0,3000,30
3,Charlie,29,1500.0,6000,60
7,George,30,1100.0,2200,22
8,Hannah,28,1600.0,4000,40
9,Ian,36,2000.0,6500,65
4,Diana,41,2100.0,7500,75
5,Ethan,27,950.0,2500,25
6,Fiona,34,1800.0,5000,50

In [0]:
df = (
    spark.read
    .table("gold_sales_summary_spark")
)
display(df)

Id,total_money
1,1200.0
6,1800.0
3,1500.0
5,950.0
9,2000.0
4,2100.0
8,1600.0
7,1100.0
2,850.0

In [0]:
df = (
    spark.read
    .table("bronze_sales_spark")
)
display(df)

Id,name,age,money,sales,units
1,Alice,25,1200,4500,45
2,Bob,32,850,3000,30
3,Charlie,29,1500,6000,60
7,George,30,1100,2200,22
8,Hannah,28,1600,4000,40
9,Ian,36,2000,6500,65
4,Diana,41,2100,7500,75
5,Ethan,27,950,2500,25
6,Fiona,34,1800,5000,50
10,Julia,26,1300,2800,28
11,Kevin,39,1750,5500,55
12,Laura,31,1450,3800,38

In [0]:
df = (
    spark.read
    .table("silver_sales_spark")
)
display(df)

Id,name,age,money,sales,units
1,Alice,25,1200.0,4500,45
2,Bob,32,850.0,3000,30
3,Charlie,29,1500.0,6000,60
7,George,30,1100.0,2200,22
8,Hannah,28,1600.0,4000,40
9,Ian,36,2000.0,6500,65
4,Diana,41,2100.0,7500,75
5,Ethan,27,950.0,2500,25
6,Fiona,34,1800.0,5000,50
10,Julia,26,1300.0,2800,28
11,Kevin,39,1750.0,5500,55
12,Laura,31,1450.0,3800,38

In [0]:
df = (
    spark.read
    .table("gold_sales_summary_spark")
)
display(df)

Id,total_money
12,1450.0
1,1200.0
6,1800.0
3,1500.0
5,950.0
9,2000.0
4,2100.0
8,1600.0
7,1100.0
10,1300.0
11,1750.0
2,850.0